.item-with-buttons-region-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.items-no-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  div {
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media (max-width: 450px) {
  .t-Button-label {
    display: none;
  }
}

.item-with-buttons-region-wrapper {
  .t-Form-labelContainer {
    display: none;
    width: 0 !important;
  }
  .t-Form-inputContainer {
    width: 100% !important;
  }
  > div:not(:first-of-type) {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.item-with-buttons-region-title-container {
  width: 15%;
}
